/* Write your CSS here */

.big-container {
  background-color: #ffd569;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-container {
  background-color: #ffffff;
  height: 600px;
  width: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medium-container {
  display: flex;
  flex-wrap: wrap;
}

.mango-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mango {
  height: 250px;
  width: 250px;
}
.banana {
  height: 250px;
  width: 250px;
}

.btst {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  width: 150px;

  margin: 10px;
}
